<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Feed</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
        integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <div class="flex w-screen h-screen gap-1 justify-center relative overflow-x-hidden">

        <div class="fixed h-10 w-screen z-10 bg-white">

        </div>

        <div class="leftScreen pt-12  pl-[10rem] pr-5 w-[32rem] h-screen sticky top-0 flex flex-col gap-5">

            <div
                class=" w-fit h-10 hover:bg-zinc-200 p-3 rounded-full gap-1 flex items-center justify-center text-2xl cursor-pointer">
                <i class="text-blue-700 fa-solid fa-house"></i>
                <P class="">Home</P>
            </div>

            <div
                class=" w-fit h-10 hover:bg-zinc-200 p-3 rounded-full gap-1 flex items-center justify-center text-2xl cursor-pointer">
                <i class="text-blue-700 fa-solid fa-search"></i>
                <P class="">Explore</P>
            </div>

            <div
                class=" w-fit h-10 hover:bg-zinc-200 p-3 rounded-full gap-1 flex items-center justify-center text-2xl cursor-pointer">
                <i class="text-blue-700 fa-regular fa-bell"></i>
                <P class="">Notifications</P>
            </div>

            <div
                class=" w-fit h-10 hover:bg-zinc-200 p-3 rounded-full gap-1 flex items-center justify-center text-2xl cursor-pointer">
                <i class="text-blue-700 fa-regular fa-envelope"></i>
                <P class="">Inbox</P>
            </div>

            <div
                class=" w-fit h-10 hover:bg-zinc-200 p-3 rounded-full gap-1 flex items-center justify-center text-2xl cursor-pointer">
                <i class="text-blue-700 fa-regular fa-bookmark"></i>
                <P class="">Saved</P>
            </div>

            <div
                class=" w-fit h-10 hover:bg-zinc-200 p-3 rounded-full gap-1 flex items-center justify-center text-2xl cursor-pointer">
                <i class="text-blue-700 fa-solid fa-user-group"></i>
                <P class="">Groups</P>
            </div>

            <div
                class=" w-fit h-10 hover:bg-zinc-200 p-3 rounded-full gap-1 flex items-center justify-center text-2xl cursor-pointer">
                <i class="text-blue-700 fa-solid fa-gear"></i>
                <P class="">Settings</P>
            </div>

            <div class=" w-fit h-10 hover:bg-zinc-200 p-3 rounded-full gap-1 flex items-center justify-center text-2xl cursor-pointer">
                <i class="text-blue-700 fa-regular fa-user"></i>
                <a href="/user/<%= currentUser._id %>" class="">Profile</a>
            </div>

            <div data-user-id="<%= currentUser._id %>"
                class="userDetails hover:bg-zinc-200 p-2 rounded-full flex gap-1 items-center justify-start gap-2 cursor-pointer">
                <!-- User Details of loggedin user -->
                <div class="profilePic w-12 h-12 overflow-hidden rounded-full"> <!-- User Profile picture -->
                    <img class="w-12" src="/media/uploads/<%=currentUser.profilePicture%>" alt="">
                </div>
                <div class="nameAndUsername flex flex-col items-start justify-center ">
                    <p class="font-extrabold">
                        <%=currentUser.fullname%>
                    </p> <!-- user name -->
                    <p class="text-sm leading-none">@<%=currentUser.username%>
                    </p> <!-- username  -->
                </div>

                <div class="followBtn ml-5 p-2 bg-red-500 text-white rounded-full cursor-pointer">
                    <a href="/user/logout">Logout</a>
                </div>
            </div> <!-- User Details of of Loggedin user ends from here -->



        </div> <!-- leftScreen ends from here -->

        <div class="middleScreen min-w-[30rem] w-[30rem] mt-11 h-fit pb-10 flex flex-col gap-2 pl-2 pr-2">
            <div
                class="navContainer w-full h-[4rem] flex justify-start items-center gap-5 p-5 rounded-lg overflow-hidden border-2 border-zinc-200">

                <i class="text-2xl fa-solid fa-arrow-left"></i>
                <div class="flex flex-col" >
                    <p><%=requestedUser.fullname%></p>
                    <p class="text-sm text-gray-400"><%= requestedUser.posts.length %> <%= requestedUser.posts.length < 2 ? "Post" : "Posts" %></p>
                </div>

            </div> <!-- navContainer ends from here -->

            <div data-user-id="<%=requestedUser._id%>" class="userBasicDetails reqUserDetails w-full h-fit rounded-lg flex flex-col gap-1 border-2 border-zinc-200 p-4">

                <div class="flex justify-between items-center gap-1">

                    <div
                        class="bg-blue-200 profilePicDiv w-[8rem] h-[8rem] rounded-full overflow-hidden flex items-center justify-center">
                        <img class="w-[8rem] object-cover" src="/media/uploads/<%=requestedUser.profilePicture%>"
                            alt="">
                    </div>

                    <button
                        class="w-[5rem] h-10 bg-gradient-to-r from-pink-500 via-purple-500 to-orange-500 text-white rounded-lg">Follow</button>
                </div>

                <div class="nameAndUsername flex flex-col items-start justify-center">
                    <p class="font-extrabold">
                        <%=requestedUser.fullname%>
                    </p> <!-- user name -->
                    <p class="text-sm leading-none">@<%=requestedUser.username%>
                    </p> <!-- username  -->
                </div>

                <div class="w-full h-fit flex mt-5 justify-start items-center text-sm">
                    <p>
                        <%=requestedUser.bio%>
                    </p>
                </div>  <!-- user bio div ends -->

                <div class="locationAndMoodDiv flex flex-col gap-1 items-start justify-center mt-2">
                    <div class="flex gap-1  items-center justify-center">
                        <i class="fa-solid fa-map-pin"></i> <p class="text-gray-600 text-sm"><%=requestedUser.location%></p>
                    </div>
                    <div class="flex gap-1 items-center justify-center">
                        <i class="fa-regular fa-face-laugh-beam"></i> <p class="text-gray-600 text-sm"><%=requestedUser.mood%></p>
                    </div>
                </div>  <!-- Location and mood div ends -->

                <div class="followingFollowerDiv flex gap-5 items-center justify-start mt-2">
                    <div class="flex gap-1 cursor-pointer">
                        <p class="text-black-400 font-bold">
                            <%=requestedUser.followings.length%>
                        </p>
                        <p class="text-gray-600">Followings</p>
                    </div> <!-- user name -->
                    <div class="flex gap-1 cursor-pointer">
                        <p class="text-black-400 font-bold">
                            <%=requestedUser.followers.length%>
                        </p>
                        <p class="text-gray-600">Followers</p>
                    </div> <!-- username  -->
                </div>

            </div> <!--  user basic details ends -->

            <div class="h-12 w-full flex items-center justify-between bg-gray-100 rounded-lg overflow-hidden">
                <div class="h-full w-1/3"><button class="h-full w-full bg-blue-400">Posts</button></div>
                <div class="h-full w-1/3"><button class="h-full w-full hover:bg-blue-200">Media</button></div>
                <div class="h-full w-1/3"><button class="h-full w-full hover:bg-blue-200">Likes</button></div>

            </div> <!-- view options ends -->

            <!---------------------------------------------------
                    All posts container start from here
            ------------------------------------------------->
            <div class="allPostsContainer flex flex-col gap-5 w-full h-fit min-h-[30rem]">

                <!-- loading animation -->
                <div class="postContainer border-2 border-blue-200 rounded-lg w-full h-fit p-4 animate-pulse">
                    <div class="userDetails flex items-center gap-1 h-12">
                        <div class="profilePicDiv w-10 h-10 rounded-full bg-gray-300"></div>
                        <div class="nameAndTimeDiv flex-col items-start justify-center">
                            <div class="flex gap-2 items-center justify-center">
                                <div class="h-4 w-32 bg-gray-300 rounded"></div>
                            </div>
                            <div class="h-3 w-20 bg-gray-300 rounded mt-1"></div>
                        </div>
                    </div>

                    <div class="postContent h-fit w-full mt-2">
                        <div class="h-4 bg-gray-300 rounded w-full mb-2"></div>
                        <div class="h-4 bg-gray-300 rounded w-full mb-2"></div>
                        <div class="h-4 bg-gray-300 rounded w-3/4"></div>
                    </div>

                    <div class="postImage w-full h-[15rem] bg-gray-300 mt-2"></div>

                    <div class="postInteractionsDiv flex gap-10 items-center justify-start mt-3">
                        <div
                            class="rounded-lg border-2 border-zinc-300 p-2 flex gap-1 items-center justify-center w-20">
                            <div class="h-4 w-4 bg-gray-300 rounded-full"></div>
                            <div class="h-4 w-12 bg-gray-300 rounded"></div>
                        </div>
                        <div
                            class="rounded-lg border-2 border-zinc-300 p-2 flex gap-1 items-center justify-center w-20">
                            <div class="h-4 w-4 bg-gray-300 rounded-full"></div>
                            <div class="h-4 w-12 bg-gray-300 rounded"></div>
                        </div>
                        <div
                            class="rounded-lg border-2 border-zinc-300 p-2 flex gap-1 items-center justify-center w-20">
                            <div class="h-4 w-4 bg-gray-300 rounded-full"></div>
                            <div class="h-4 w-12 bg-gray-300 rounded"></div>
                        </div>
                    </div>


                </div>
                <!-- loading animation ends -->

                <!-- posts will dynamically injected here -->

            </div> <!-- all posts container ends -->

        </div> <!-- middleScreen ends from here -->

        <div class="rightScreen pt-12 pl-5 pr-[10rem] w-[32rem] h-screen sticky top-0">

            <div class="w-full h-fit p-4 border-2 border-zinc-200 rounded-lg"> <!-- follow recommondation -->
                <p class="text-xl font-black mb-5">Who to follow</p>

                <div class="flex flex-col gap-6">

                    <div class="userDetails flex gap-1 items-center justify-start gap-2">
                        <!-- User Details of recommondation -->
                        <div class="profilePic w-12 h-12 overflow-hidden rounded-full"> <!-- User Profile picture -->
                            <img class="w-12"
                                src="https://media.licdn.com/dms/image/D4D03AQGG79xYxGe2uQ/profile-displayphoto-shrink_200_200/0/1694942905209?e=2147483647&v=beta&t=I5P_2oMiMWQcEk_A2KMTobYaZkrwhAyzKVWBs4cZcvc"
                                alt="">
                        </div>
                        <div class="nameAndUsername flex flex-col items-start justify-center ">
                            <p class="font-extrabold">Sree Gopal Saha</p> <!-- user name -->
                            <p class="text-sm leading-none">@sreegopalsaha</p> <!-- username  -->
                        </div>

                        <div class="followBtn ml-5 p-1 pl-4 pr-4 bg-blue-500 text-white rounded-full cursor-pointer">
                            Follow
                        </div>
                    </div> <!-- User Details of recommondation ends from here -->

                    <div class="userDetails flex gap-1 items-center justify-start gap-2">
                        <!-- User Details of recommondation -->
                        <div class="profilePic w-12 h-12 overflow-hidden rounded-full"> <!-- User Profile picture -->
                            <img class="w-12"
                                src="https://media.licdn.com/dms/image/D4D03AQGG79xYxGe2uQ/profile-displayphoto-shrink_200_200/0/1694942905209?e=2147483647&v=beta&t=I5P_2oMiMWQcEk_A2KMTobYaZkrwhAyzKVWBs4cZcvc"
                                alt="">
                        </div>
                        <div class="nameAndUsername flex flex-col items-start justify-center ">
                            <p class="font-extrabold">Sree Gopal Saha</p> <!-- user name -->
                            <p class="text-sm leading-none">@sreegopalsaha</p> <!-- username  -->
                        </div>

                        <div class="followBtn ml-5 p-1 pl-4 pr-4 bg-blue-500 text-white rounded-full cursor-pointer">
                            Follow
                        </div>
                    </div> <!-- User Details of recommondation ends from here -->

                    <div class="userDetails flex gap-1 items-center justify-start gap-2">
                        <!-- User Details of recommondation -->
                        <div class="profilePic w-12 h-12 overflow-hidden rounded-full"> <!-- User Profile picture -->
                            <img class="w-12"
                                src="https://media.licdn.com/dms/image/D4D03AQGG79xYxGe2uQ/profile-displayphoto-shrink_200_200/0/1694942905209?e=2147483647&v=beta&t=I5P_2oMiMWQcEk_A2KMTobYaZkrwhAyzKVWBs4cZcvc"
                                alt="">
                        </div>
                        <div class="nameAndUsername flex flex-col items-start justify-center ">
                            <p class="font-extrabold">Sree Gopal Saha</p> <!-- user name -->
                            <p class="text-sm leading-none">@sreegopalsaha</p> <!-- username  -->
                        </div>

                        <div class="followBtn ml-5 p-1 pl-4 pr-4 bg-blue-500 text-white rounded-full cursor-pointer">
                            Follow
                        </div>
                    </div> <!-- User Details of recommondation ends from here -->

                </div>
            </div> <!-- follow recommondation ends from here -->

        </div> <!-- rightScreen ends from here -->
    </div> <!-- main div ends -->

    <!-- javasrcript -->
    <script src="/javasrcripts/profile.js"></script>
</body>

</html>